* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #f6f6f6;
    --color-bg2: #e7f6e7;
    --color-primary: #2e7a62;
    --color-primary2: #3c514d;
    --color-white: #ffffff;
    --color-black: #111111;



}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: var(--color-white);
    overflow-x: hidden;
}

/* Buttons */


.primary-button {
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
    background-color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    color: var(--color-white);
    padding: 12px 24px;
    margin-right: 16px;
    transition: ease-out 500ms;
}
.primary-button:hover {
    transform: translateY(-3px);
}
.primary-button a {
    text-decoration: none;
    color: var(--color-white);
}

h1 {
    font-family: 'halant', sans-serif;
    color: var(--color-black);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    margin: 16px 0;
}

h2 {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-black);
    line-height: 1.1;
    margin-top: 16px;
}

h3 {
    font-family: 'halant', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-black);
    margin: 0;
}

h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-primary);
}

h5 {
    font-family: 'halant', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-black);
    margin-bottom: 0;
}

h6 {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: var(--color-primary);
    letter-spacing: 2px;
}

p {
    margin: 0;
}

.card {
    border-radius: 0;
}

.card-body {
    padding: 0;
}

/* Navbar */

header {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    transition: 0.5s;
}
.navbar-one {
    background-color: var(--color-primary2);
    padding: 1rem 6rem;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar-two {
    background-color: var(--color-white);
    padding: .5rem 6rem;
    width: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px #e6e6e6;
}

header.hide {
    transform: translateY(-100%);
}

.ne-2 {
    width: 350px;
    margin-right: 0;
}

.form-control {
    color: #7a7a7a;
    border-radius: 0;
    width: 350px;
    font-size: .8rem;
    margin-right: 0 !important;
}

.form-control:focus {
    color: #7a7a7a;
    font-size: .8rem;
    background-color: var(--bs-form-control-bg);
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.btn {
    border-radius: 0;
    padding: 0 24px;
    background-color: var(--color-primary);
}
.btn:hover {
    background-color: var(--color-primary);
}

.searchBox, .searchBtn, .closeBtn {
    display: none;
}

.nav-svg {
    width: 20px;
    margin: 4px;
    cursor: pointer;
}

.link-socials {
    padding-top: 0 !important;
}

.navbar {
    padding: 0;
}

.navbar>.container-fluid {
    padding: 0;
}

.main-logo {
    width: 6rem;
}

.nav-container {
    padding: 8px 0 8px;
}

.nav-item {
    margin: 0 8px;
}

.dropdown-toggle {
    font-size: 1rem !important;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: 600 !important;
    
}

.fa-list {
    margin-right: 4px;
    margin-left: -8px;
}

.bi-chevron-down {
    margin-left: 8px;
}

.category.show {
    border-radius: 0;
    left: -25px;
    top: 40px;
}

.nav-link {
    font-family: 'josefin sans', sans-serif;
    font-size: .85rem;
    font-weight: 400;
    color: var(--color-black);
    transition: ease-in 300ms;
}
.nav-link:hover {
    color: var(--color-primary);
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}

.category-option {
    display: flex;
    align-items: center;
}

.small-board {
    border: groove;
    padding: 4px;
    text-align: center;
}

.board-title {
    color: var(--color-primary);
    margin-bottom: auto;
    font-size: .7rem;
    font-weight: 600;
}

.board-text {
    color: var(--color-black);
    font-size: .7rem;
}

.dropdown-item {
    margin-bottom: 6px;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link:focus, .nav-link:hover {
    color: var(--color-primary);
}

.collection {
    width: 390%;
    padding: 16px 8px;
}

.collection-list {
    width: 50%;
}

.collection-image {
    width: 50%;
    padding-right: 8px;
}

.collection-image img {
    position: absolute;
    width: 50%;
    opacity: 0;
    padding-right: 16px;
}

.collection-image:hover .hover2 {
    opacity: 1;
}

.collection.show {
    display: flex;
    border-radius: 0;
    top: 46px;
}


/* Navbar @media */

@media screen and (max-width: 992px) {

    .navbar-one {
        padding: 1rem;
    }

    .searchBox, .searchBtn, .closeBtn {
        display: none;
    }
    
    .navbar-toggler {
        padding: 6px 6px;
        border: 1.5px solid;
        color: var(--color-black);
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    .navbar-nav {
        text-align: center;
    }

    .link-socials {
        margin: auto;
    }

    .category-option {
        margin: 12px 8px 8px;
    }

    .collection {
        width: 100%;
        padding: 16px 8px;
    }

}

@media screen and (max-width: 576px) {

    .navbar-one {
        padding: .5rem 1rem;
    }

    .navbar-two {
        padding: .3rem 1rem;
    }

    .search-bar {
        display: none;
    }

    .form-control {
        width: 250px;
        height: 30px;
    }

    .search {
        display: inline-block;
        position: relative;
        z-index: 10;
    }

    .searchBox, .search-icon, .close-icon {
        display: inline-block;
    }

    .searchBox {
        position: absolute;
        right: -150%;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: var(--color-primary2);
        align-items: center;
        transition: 0.5s ease-in-out;
        border-bottom: 1px solid var(--color-white);
    }

    .searchBox.active {
        right: 0;
    }

    .searchBox input {
        width: 100%;
        border: none;
        outline: none;
        color: var(--color-white);
        font-size: .8rem;
        font-weight: 200;
        padding: 0 .5rem;
        background-color: var(--color-primary2);
    }

    ::placeholder {
        color: #c8c8c8;
        font-weight: 400;
    }

    .searchBtn {
        display: inline-block;
        position: relative;
    }

    .searchBtn.active {
        opacity: 0;
        visibility: hidden;
    }

    .closeBtn {
        opacity: 0;
        display: none;
    }

    .closeBtn.active {
        opacity: 1;
        display: inline-block;
        transition: 0.5s;
        scale: 1;
    }

    #navbar-second {
        position: unset;
        padding: .3rem 1rem;
    }

    .navbar-toggler {
        border: none;
    }

    .main-logo {
        width: 5rem;
    }

    .nav-svg {
        width: 18px;
        margin: 4px;
    }

    .small-board {
        width: 50%;
        margin: 8px;
    }

    .navbar-nav {
        text-align: start;
    }

    .category-option {
        margin: 12px 8px 8px;
    }

    .collection {
        width: 100%;
        padding: 0;
    }

    .collection-list {
        width: 100%;
    }

    .collection-image {
        display: none;
    }

}

/* Hero */

#hero {
    background-size: cover;
    background-color: var(--color-white);
}

.carousel-caption {
    right: 0;
    top: 14rem;
    left: 6rem;
    bottom: 10rem;
    text-align: start;
    width: 35%;
}

.primary-cta {
    padding: 8px 0 24px;
    margin-bottom: 8px;
}

/* Hero @media */

@media screen and (max-width: 992px) {

    body::before {
        display: block;
        content: '';
        height: 60px;
    }
    
    #hero {
        padding: 0;
        text-align: center;
        background-size: cover;
        background-position-x: center;
    }

    .hero-writeup {
        padding: 0;
     }

     .hero-p {
        padding: 0 1rem;
    }

}

@media screen and (max-width: 576px) {

    

    #hero {
        padding: 0 .5rem;
    }

}


/* Features */

#features {
    padding: 2.5rem 6rem;
    background-color: var(--color-white);
    text-align: center;
}

.row {
    padding-bottom: unset !important;
}

.feature-body{
    text-align: left;
    padding-left: 32px;
}

.feature-two {
    background-color: var(--color-primary2);
}

.feature-title {
    margin-bottom: unset;
    color: var(--color-white);
}

.feature-text {
    font-family: 'halant', sans-serif;
    font-size: .9rem;
    color: var(--color-white);
    margin: 0;
}

/* Features @media */

@media screen and (max-width: 992px) {
    
    #features {
        padding: 1rem 0;
    }

    .features-group {
        padding: 0 6rem;
        --bs-gutter-y: .2rem !important;
        --bs-gutter-x: .2rem !important;
      }

}

@media screen and (max-width: 576px) {

    #features {
        padding: .5rem;
    }

    .features-group {
        padding: 0;
        --bs-gutter-x: .1rem !important;
        --bs-gutter-y: .1rem !important;
    }

}


/* About */

#about {
    padding: 0 6rem;
    background-color: var(--color-white);
}

/* .about-first-writeup {
    background-image: url('../images/Woman-with-bag.png');
    background-size: 100%;
    padding: 4rem;
    background-repeat: no-repeat;
}

.about-second-writeup {
    background-image: url('../images/Watch-green.png');
    background-size: 100%;
    padding: 6rem 4rem;
    background-repeat: no-repeat;
} */

.watch {
    background-color: var(--color-bg);
    padding: 8px 18px;
}

.watch a {
    color: var(--color-primary);
    font-weight: 500;
}

.shop-now {
    text-align: center;
}

.dealofday {
    position: relative;
    top: -4rem;
    left: -1rem;
    padding-right: 4rem;
}

.promo-title {
    color: var(--color-white);
    line-height: 24px;
    font-weight: 300;
}

.about-title {
    color: var(--color-white);
}

.learn-more {
    font-family: 'poppins', sans-serif;
    background-color: var(--color-primary);
    text-decoration: none;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    margin-right: 16px;
    transition: ease-in 400ms;
}
.learn-more:hover {
    background-color: var(--color-primary2);
}

.learn-more a {
    text-decoration: none;
    color: var(--color-white);
}

/* About @media */

@media screen and (max-width: 992px) {

    #about {
        padding: 0;
        text-align: start;
        background-size: 4%;
    }

}

@media screen and (max-width: 576px) {

    #about {
        padding: 0 .5rem;
    }

    .about-container {
        --bs-gutter-x: .1rem !important;
    }
}


/* Products-1 */

#product {
    padding: 4rem 6rem 6rem;
    text-align: center;
    background-color: var(--color-white);
}

.product-message {
    color: var(--color-black);
    margin: auto;
    margin-bottom: 30px;
    font-size: .8rem;
    letter-spacing: 1.3px;
}

.card-deck {
    padding: 40px 20px;
}

.product-body {
    background-color: transparent;
    text-align: left;
    padding: 16px 16px 8px;
}

.behance {
    font-family: 'josefin sans', sans-serif;
    background-color: transparent;
    border: 1px var(--color-black) solid;
    padding: 4px 12px;
    margin-right: 16px;
    transition: ease-in 400ms;
}
.behance:hover {
    background-color: var(--color-primary);
    border: 1px var(--color-primary) solid;
}
.behance a {
    text-decoration: none;
    color: var(--color-black);
}

.behance a:hover {
    color: var(--color-white);
}

.product-title {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

.product-price {
    font-family: 'halant', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.card-design {
    border: 0;
    background-color: var(--color-bg);
    transition: all 600ms;
    margin-bottom: 2rem;
}

.card-img {
    overflow: hidden;
    border-radius: 0;
}

.card-img img {
    transition: all 1.5s ease;
    border-radius: 0;
}

.option-button img {
    transition: all 1s ease;
}

.card-design:hover img {
    transform: scale(1.2);
}

/* .modal-content {
    background-color: #232222;
}

.project-main {
    margin: 2rem 0;
    text-align: start;
}

.project-img {
    width: 100%;
    border-radius: 0.5rem;
}

.project-title {
    margin-bottom: 1rem;
}

.project-info {
    margin: 1rem 0;
    color: #c8c8c8;
} */

hr {
    color: var(--color-black);
    border: 1.5px var(--color-black) solid;
    opacity: .8;
    width: 238px;
    margin: 0 auto 1rem;
}

.product-button {
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1.5px var(--color-black) solid;
    color: var(--color-black);
    padding: 12px 24px;
    transition: ease-out 500ms;
    margin-top: 1rem;
}
.product-button:hover {
    transform: translateY(-3px);
}
.product-button a {
    text-decoration: none;
    color: var(--color-black);
}

/* Whats hot Products */

#whats-hot {
    padding: 4rem 6rem 4rem;
    text-align: center;
    background-color: var(--color-white);
    margin-top: 8rem;
}

.directions {
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    color: var(--color-black);
    padding: 12px 16px;
    transition: ease-out 500ms;
}
.directions:hover {
    transform: translateY(-3px);
}
.directions a {
    text-decoration: none;
    color: var(--color-black);
}

.pages {
    text-align: center;
}

.page {
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
    background-color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    padding: 8px 16px;
    transition: ease-out 500ms;
}
.page:hover {
    transform: translateY(-3px);
}
.page a {
    text-decoration: none;
    color: var(--color-white);
}

.sizes {
    margin-bottom: 4px;
}
.size {
    font-family: 'poppins', sans-serif;
    font-size: .5rem;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px var(--color-black) solid;
    padding: 2px 4px;
    transition: ease-out 500ms;
}
.size:hover {
    transform: translateY(-3px);
}
.size a {
    text-decoration: none;
    color: var(--color-black);
}

/* Shop All */

#shop-all {
    padding: 4rem 6rem 4rem;
    text-align: center;
    background-color: var(--color-white);
    margin-top: 8rem;
}

.shop-all-line {
    width: 100%;
    border: 1px var(--color-black) solid;
    margin: 1rem auto;
}

.filter {
    background-color: var(--color-primary);
    padding: 8px;
    margin-bottom: 3rem;
}

.filtered {
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
    background-color: var(--color-white);
    text-decoration: none;
    box-shadow: 0 1px 8px var(--color-primary2);
    letter-spacing: 1px;
    border: none;
    padding: 8px 16px;
    transition: ease-out 500ms;
    margin: 4px;
}
.filtered:hover {
    transform: translateY(-3px);
}
.filtered a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-primary);
}

.all {
    background-color: var(--color-primary2);
}
.all a {
    color: var(--color-white);
}

/* Collection */

#collection {
    padding: 4rem 6rem 3rem;
    text-align: center;
    background-color: var(--color-white);
    margin-top: 8rem;
}

.about-collection {
    text-align: start;
    padding: 4rem 0 4rem 4rem;
}

.card-img-landscape {
    width: 100%;
    height: 95%;
}

.landscape-image {
    height: 100%;
}

#items {
    padding: 2rem 6rem 4rem;
    text-align: start;
    border-top: 1px var(--color-black) solid;
}

.collection-heading {
    font-size: 1.1rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    text-align: center;
}

.measurement {
    font-family: 'poppins', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px var(--color-primary) solid;
    padding: 2px 4px;
    transition: ease-out 500ms;
}
.measurement:hover {
    transform: translateY(-3px);
}
.measurement a {
    text-decoration: none;
    color: var(--color-primary);
}

/* Singele Products */

#single-product {
    padding: 4rem 6rem 3rem;
    text-align: center;
    background-color: var(--color-white);
    margin-top: 8rem;
}

.other-images {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-img-bottom {
    width: 30%;
    margin: 20px 0;
    cursor: pointer;
}

.singleproduct-details {
    text-align: start;
    padding-left: 4rem;
}

.singleproduct-heading {
    font-size: 1.1rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.singleproduct-name, .singleproduct-price {
    margin: 1rem 0;
    color: var(--color-primary);
}

.singleproduct-description {
    font-family: 'halant', sans-serif;
}

.singleproduct-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.size-description {
    margin-bottom: 4px;
    margin-right: 1rem;
}

.addtocart-button {
    font-family: 'poppins', sans-serif;
    font-size: .9rem;
    background-color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    color: var(--color-black);
    padding: 8px 16px;
    transition: ease-out 500ms;
}
.addtocart-button:hover {
    transform: translateY(-3px);
}
.addtocart-button a {
    text-decoration: none;
    color: var(--color-white);
}

.description-line {
    margin: 1.5rem 0;
    width: 100%;
    border: 1px var(--color-primary) solid;
    opacity: .4;
}

.number {
    margin: 0 1rem;
}

.goods-number {
    font-size: 16px;
    padding: 2px 8px;
    color: var(--color-primary);
    background-color: transparent;
    border: 1.5px var(--color-primary) solid;
}

.bi-plus::before {
    font-size: 20px;
}
.bi-dash::before {
    font-size: 20px;
}

.singleproduct-favourite-icon {
    width: 30px;
}

.shownumber {
    margin: 0 -5px;
    padding-top: 2px;
}

.bi-cart2 {
    margin-left: 12px;
}

.bi-cart2::before {
    font-size: 16px;
    color: var(--color-white);
    padding-bottom: 4px;
}

#suggestions {
    padding: 2rem 6rem 2rem;
    text-align: start;
    background-color: var(--color-bg);
}

.suggestion-body {
    background-color: var(--color-white);
    text-align: left;
    padding: 12px 12px 8px;
}

.suggestion-title {
    color: var(--color-black);
    font-size: .8rem;
    font-weight: 500;
}

.suggestion-title {
    color: var(--color-black);
    font-size: .8rem;
    font-weight: 500;
}

.suggestion-price {
    font-family: 'halant', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.suggestion-svg {
    width: 16px;
    margin: 2px;
    cursor: pointer;
}

/* Cart */

#check-out {
    text-align: center;
    background-color: var(--color-white);
    margin-top: 8rem;
}

.cart-top {
    background-image: url('../images/cart-top-img.svg');
    width: 100%;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-container {
    padding: 2rem 6rem;
}

.cart-border-left {
    border: 1px var(--color-black) solid;
    padding: 2rem;
}

.cart-border-right {
    border: 1px var(--color-black) solid;
}

.cart-heading {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: start;
}

.heading-line {
    width: 10%;
}

.payment-option {
    display: flex;
}

.payment-method {
    display: flex;
    align-items: center;
    border: 1px black solid;
    padding: 12px 16px 12px;
    margin: 0 1rem;
}

.bi-credit-card {
    font-size: 32px;
    margin-right: 16px;
    display: flex;
}

/* Product @media */

@media screen and (max-width: 992px) {

    #whats-hot {
        margin-top: 3rem;
    }

    .about-collection {
        padding: 4rem 0 4rem 0rem;
    }

    #check-out {
        margin-top: 4rem;
    }

}

@media screen and (max-width: 576px) {

    #product {
        padding: 3rem .5rem 4rem;
    }

    #whats-hot {
        padding: 4rem .5rem 3rem;
        margin-top: 0;
    }

    #shop-all {
        padding: 4rem .5rem;
        margin-top: 0;
    }

    #single-product {
        padding: 4rem 0.5rem;
        margin-top: 0;
    }

    #suggestions {
        padding: 3rem 0.5rem 3rem;;
    }

    #collection {
        padding: 4rem 0.5rem;
        margin-top: 0;
    }

    #items {
        padding: 1rem .5rem 2rem;
    }

    #check-out {
        margin-top: 2rem;
    }

    .about-collection {
        padding: 4rem 0;
    }

    .row {
        --bs-gutter-x: 1rem;
    }

    .card-design {
        margin-bottom: 0;
    }

    .product-body {
        padding: 8px;
    }

    .product-title {
        font-size: .8rem;
        font-weight: 600;
    }

    .product-message {
        font-size: .7rem;
    }

    .product-price {
        font-size: 1rem;
        padding-top: .4rem;
    }

    .product-button {
        margin-top: 2rem;
        padding: 8px 16px;
    }

    .singleproduct-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .addtocart-button {
        margin-top: 8px;
    }

    h5 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    hr {
        width: 198px;
        border: 1px var(--color-black) solid;
    }

    .page {
        font-size: .7rem;
        padding: 4px 8px;
    }

    .bi-chevron-left, .bi-chevron-right {
        font-size: 20px;
    }

    .singleproduct-details {
        padding-left: 0;
    }



}


/* Promotion */

#promotion {
    background-color: var(--color-primary2);
    text-align: center;
}

.promotion-img-container {
    text-align: justify;
}

.promotion-image {
    width: 97%;
}

.promotion-info {
    text-align: left;
    padding: 9rem 6rem 0 0;
}

.promotion-title {
    color: var(--color-white);
    letter-spacing: 4px;
    margin: 0;
}

.promotion-text {
    font-family: 'halant', sans-serif;
    color: var(--color-white);
    font-weight: 400;
    font-size: 1rem;
    margin: 2rem 0;
    line-height: 1.8;
}

.promotion-cta {
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
    background-color: transparent;
    border: 1.5px var(--color-white) solid;
    padding: 8px 16px;
    margin-right: 16px;
    transition: ease-in 400ms;
}
.promotion-cta:hover {
    background-color: var(--color-primary);
}
.promotion-cta a {
    text-decoration: none;
    color: var(--color-white);
    letter-spacing: 3px;
}

.promotion-cta a:hover {
    color: var(--color-white);
}

.client-info {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.client-main {
    text-align: left;
    margin-left: 1rem;
}

/* Promotion @media */

@media screen and (max-width: 992px) {

    .promotion-info {
        text-align: center;
        padding: 2rem 5rem 4rem;
    }

}


@media screen and (max-width: 576px) {

    .left-side {
        padding: 0;
    }

    .promotion-info {
        padding: 1rem 1rem 3rem;
        text-align: center;
    }

}

/* Product2 */

#product2 {
    padding: 4rem 6rem;
    text-align: center;
    background-color: var(--color-white);
}

.product2-heading {
    font-size: 1.3rem;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}

.product2-container {
    display: flex;
    flex-direction: row;
}

.product2-body {
    background-color: transparent;
    text-align: left;
    padding: 16px;
}

.product2-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 1rem 1rem 0 0.5rem;
}

.product-description {
    font-family: 'halant', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 0 .8rem;
}

.option2-button {
    text-align: end;
}
.option2-button img {
    transition: all 1s ease;
}

/* Product2 @media */

@media screen and (max-width: 992px) {

    .product-description {
        font-size: .9rem;
        margin: .4rem 0 .4rem;
    }

}


@media screen and (max-width: 576px) {

    #product2 {
        padding: 3rem .5rem;
    }

    .product2-body {
        padding: 8px;
    }

    .product-description {
        font-size: .7rem;
        margin: .4rem 0 0 0;
    }

    .product2-info {
        padding: 0 0 0 .3rem;
    }

}


/* Adverts */

#adverts {
    background: url('../images/shop-background.png') no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 100%;
    padding: 4rem;
}

.main-advert {
    background-color: var(--color-bg2);
    color: var(--color-black);
    margin: 0 auto;
    padding: 1.5rem;
    flex-direction: row;
}

.advert-body{
    text-align: left;
}

.advert-title {
    font-family: 'halant', sans-serif;
    margin-bottom: unset;
    color: var(--color-black);
    font-size: .9rem;
    color: var(--color-black);
    letter-spacing: 0;
}

.advert-text {
    font-family: 'halant', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-black);
    margin: 8px 0;
}

.advert-button {
    font-family: 'poppins', sans-serif;
    font-size: .7rem;
    background-color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    color: var(--color-white);
    padding: 8px 12px;
    transition: ease-out 500ms;
}
.advert-button:hover {
    transform: translateY(-3px);
}
.advert-button a {
    text-decoration: none;
    color: var(--color-white);
}

.advert1 {
    padding-top: 8px;
}

.advert2 {
    padding-top: 11px;
}

.advert3 {
    padding: 8px 24px 0 0;
}

.jordans {
    width: 186px;
    margin-top: 1rem;
}

/* Adverts @media */

@media screen and (max-width: 992px) {

    #adverts {
        padding: 2rem 4rem;
    }

    .advert-group {
        --bs-gutter-y: 1.5rem !important;
    }

    .main-advert {
        padding: 1rem;
    }

}


@media screen and (max-width: 576px) {

    #adverts {
        padding: 1rem .5rem;
        background-position-x: 0;
        background-position-y: 0;
    }

    .advert-group {
        --bs-gutter-y: none !important;
    }

    .main-advert {
        margin: .5rem 0;
    }



}

/* Instagram */

#instagram {
    background-color: var(--color-white);
    padding: 3rem 6rem;
}

.naestpoint {
    font-weight: 700;
}

.instagram-top {
    text-align: center;
    margin: 0 0 2rem;
}

.instagram-message {
    font-family: 'halant', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-black);
    margin: 8px 0;
}

.insta-name {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.insta-name:hover {
    opacity: 1;
}
.insta-name > * {
    transform: translateY(25px);
    transition: transform 0.6s;
}
.insta-name:hover > * {
    transform: translateY(0px);
}


.insta-text {
    color: var(--color-white);
}

/* Instagram @media */

@media screen and (max-width: 992px) {

    

}


@media screen and (max-width: 576px) {

    #instagram {
        padding: 4rem .5rem;
    }

    .insta-text {
        font-size: 1rem;
    }

}


/* Footer */

#footer {
    background-color: var(--color-bg2);
    padding: 4rem 6rem 2rem;
    text-align: center;
}

.row {
    padding-bottom: 2.5rem;
}

.services-top {
    text-align: start;
}

.footer-logo {
    padding-bottom: 2rem;
}

.footer-message {
    color: var(--color-black);
    width: 90%;
    font-size: .9rem;
    padding-right: 2rem;
}

/* Footer Page Links */

.footer-link {
    text-align: start;
}

.footer-link2 {
    text-align: start;
    padding-left: 2rem;
}

.link-title {
    color: var(--color-black);
    margin-bottom: 1.5rem;
    text-align: start;
    font-weight: 500;
}

.link-main {
    font-family: 'halant', sans-serif;
    margin-bottom: unset;
    color: var(--color-black);
    font-size: 1rem;
    letter-spacing: 0;
    text-align: start;
}

/* Footer Contact */

.footer-contact {
    padding-left: 2rem;
}

.contact-design {
    display: flex;
    margin: 0.5rem 0;
}

.newsletter {
    padding-left: 4rem;
}

.newsletter-form {
    border-bottom: 2px solid;
    width: 90%;
}

.newsletter-text {
    margin-bottom: 2rem;
}

.email-input {
    width: 80%;
    background-color: transparent;
}

.newsletter-button {
    width: 15%;
    background-color: transparent;
}

.bi-arrow-right {
    font-size: 1.5rem;
}

.info-title {
    font-family: 'jost', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-black);
    margin-bottom: 6px;
}

.info-main {
    margin: 0;
    font-family: 'poppins', sans-serif;
    color: var(--color-bg);
    font-size: .9rem;
}

.phone-email {
    display: flex;
    gap: 16px;
}

.fa-brands {
    color: var(--color-black);
    transition: ease-out .3s;
}
.fa-brands:hover {
    color: var(--color-primary);
}

/* Footer Social Media Links */

.down-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    top: 1.2rem;
    margin-left: 17rem;
}

.address-info {
    display: flex;
}

.address-logo {
    line-height: 0;
}

.fa-location-dot {
    margin-right: 8px;
}

.footer-divider {
    color: var(--color-black);
    border: 0.3px var(--color-black) solid;
    opacity: .60;
    margin: 0 auto 1rem;
    width: 100%;
}

.terms-copy {
    display: flex;
    justify-content: space-between;
}

.terms-privacy {
    display: flex;
}

.privacy {
    margin-left: 16px;
}

.terms-text {
    font-family: 'halant', sans-serif;
    margin-bottom: unset;
    color: var(--color-black);
    font-size: .8rem;
    letter-spacing: 0;
    text-align: start;
}

.social-media{
    width: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem 0 0 4rem;
}

.socials {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.twitter-icon {
    background-color: transparent;
    padding: 6px 4px;
    transition: ease-out 300ms;
}
.socials:hover .twitter-icon {
    color: var(--color-primary);
}

.facebook-icon {
    background-color: transparent;
    padding: 6px 4px;
    transition: ease-out 300ms;
}
.socials:hover .facebook-icon {
    color: var(--color-primary);
}

.instagram-icon {
    background-color: transparent;
    padding: 6px 2px;
    transition: ease-out 300ms;
}
.socials:hover .instagram-icon {
    color: var(--color-primary);
}

.linked-in-icon {
    background-color: transparent;
    padding: 6px 2px;
    transition: ease-out 300ms;
}
.socials:hover .linked-in-icon {
    color: var(--color-primary);
}

.social-media .linked-in {
    margin-right: .1rem;
}

.my-copy {
    color: #c8c8c8;
}

/* Footer @media */

@media screen and (max-width: 992px) {

    #footer {
        background-size: cover;
        padding: 4rem 6rem 2rem;
    }

    .services-top {
        text-align: center;
        margin-bottom: 2rem;
    }

     .footer-message {
        width: 100%;
    }

    .newsletter {
        padding-left: 0;
    }

    .link-title {
        margin: 1.1rem 0 .9rem;
    }

    .social-media {
    width: fit-content;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    text-align: center;
    }

    .my-copy {
        font-size: .75rem;
    }

    .first-link {
        width: 50%;
        margin-bottom: .7rem;
    }

    .second-link {
        width: 50%;
        margin-bottom: .7rem;
    }

    .down-footer {
        flex-direction: column;
        margin: auto;
    }

}

@media screen and (max-width: 576px) {

    #footer {
        background-size: cover;
        padding: 3rem 2rem 2rem;
    }

    .footer-logo {
        padding: 0;
    }

     .footer-message {
        width: 100%;
    }

    .newsletter {
        padding-left: 0;
    }

    .newsletter-form {
        width: 100%;
    }

    .link-title {
        margin: 1.1rem 0 .9rem;
    }

    .terms-text {
        margin-left: 16px;
    }

}