
<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}


<body>
{%block content%}
  <section id="single-product">
    <div class="row g-4 images">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 product-card">
            <div class="main-image">
              <img src="../../media/{{product.product_img_1}}" class="card-img-top" alt="..." id="mainImg">
            </div>
            <div class="other-images">
              {%if product.product_img_2 != "default.jpg" %}
              <img src="../../media/{{product.product_img_1}}" class="card-img-bottom" alt="..." id="thumb1">
              <img src="../../media/{{product.product_img_2}}" class="card-img-bottom" alt="..." id="thumb2">
              {%endif%}
              {%if product.product_img_3 != "default.jpg" %}
              <img src="../../media/{{product.product_img_3}}" class="card-img-bottom" alt="..." id="thumb3">
              {%endif%}
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 product-card">
            <div class="singleproduct-details">
                <h2 class="singleproduct-heading">PRODUCT DETAILS</h2>
                <h3 class="singleproduct-name">{{product.product_name}}</h3>
                <h3 class="singleproduct-price">₦{{product.product_price}}</h3>
                <p class="singleproduct-description"><strong>Description</strong></p>
                <p class="singleproduct-description">{{product.product_description}} </p>
                <hr class="description-line">
                <div class="singleproduct-button">
                    <div class="size-description">
                        <button type="button" class="measurement sm active"> <a href="#">SM</a></button>
                        <button type="button" class="measurement md"> <a href="#">MD</a></button>
                        <button type="button" class="measurement lg"> <a href="#">LG</a></button>
                        <button type="button" class="measurement xl"> <a href="#">XL</a></button>
                    </div>
                    <img src="{% static 'images/greenheart.svg' %}" class="singleproduct-favourite-icon" alt="">
                    <div class="number">
                        <button type="button" class="goods-number"><i class="bi bi-dash"></i></button>
                        <button type="button" class="goods-number shownumber">3</button>
                        <button type="button" class="goods-number"><i class="bi bi-plus"></i></button>
                    </div>
                    <button type="button" class="addtocart-button"><a href="#">ADD TO CART<i class="bi bi-cart2"></i></a></button>
                </div>
                <hr class="description-line">
                <h2 class="singleproduct-heading">DELIVERY & RETURN POLICY</h2>
                <p class="singleproduct-description"><strong>Delivery</strong></p>
                <p class="singleproduct-description">Due to high demand, the time frame for sale orders despatch may be extended by up to 6 working days.Contact us here</p>
                <p class="singleproduct-description"><strong>Return</strong></p>
                <p class="singleproduct-description">Regular sale items can be returned for exchange or refund by online store credit only.Sale</p>
            </div>
        </div>
    </div>
  </section>

  <section id="suggestions">
    <div class="product-top">
      <h2 class="suggestion-heading">MORE SUGGESTIONS</h2>
    </div>

    <div class="row g-4">
        {%for prod in prod_suggestions%}
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 product-card">
        <div class="card card-design">
          <div class="card-img">
            <img src="../../media/{{prod.product_img_1}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body suggestion-body">
            <h3 class="suggestion-title">{{prod.product_name}}</h3>
            <div class="product-info">
              <p class="suggestion-price">₦{{prod.product_price}}</p>
              <div class="option-button">
                <img src="{% static 'images/Black-heart.svg' %}" class="suggestion-svg" alt="...">
                <img src="{% static 'images/Wheel-cart.svg' %}" class="suggestion-svg" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </section>

{%endblock content%}
</body>
</html>