<!DOCTYPE html>
<html>
  {% extends "base.html" %} 

<body>
  {%block content%}
  
  <!-- Nav Bar -->
  
      
  <!-- Hero -->

  <section id="hero">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {%for ads in carousel%}
        <div class="carousel-item active">
          <img src="media/{{ads.advert_img}}" class="d-block w-100" alt="...">
        </div>
        {%endfor%}
      </div>
    </div>

  </section>


  <!-- Features -->

  <section id="features">

    <div class="row g-8 features-group">
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card service-card-design main-feature">
          <img src="static/images/Free-shipping.svg" class="d-block w-100" alt="">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card service-card-design main-feature feature-two">
          <img src="static/images/14-Days-Return.svg" class="d-block w-100" alt="">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card service-card-design main-feature">
          <img src="static/images/Online Support.svg" class="d-block w-100" alt="">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3">
        <div class="card service-card-design main-feature">
          <img src="static/images/Responsive website.svg" class="d-block w-100" alt="">
        </div>
      </div>
    </div>
    
  </section>

  <!-- About -->

  <section id="about">
    <div class="row about-container about-group">
      <div class="col-7 col-sm-7 col-md-7 col-lg-7 about-left">
        <div class="about-first-writeup">
          <a href=""><img src="media/{{sec2_ads.0.advert_img}}" class="d-block w-100" alt=""></a>
        </div>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 about-right">
        <div class="about-second-writeup">
          <a href=""><img src="media/{{sec2_ads.1.advert_img}}" class="d-block w-100" alt=""></a>
        </div>
      </div>
    </div>
  </section>


  <!-- Products-1 -->

  <section id="product">
    <div class="product-top">
      <h2 class="product2-heading">FEATURED PRODUCTS</h2>
      <p class="product-message">WE SELECTED THE BEST BUYS, FREQUENTLY VIEWED WEAR, NEW ARRIVALS FOR YOUR INTEREST.</p>
    </div>

    <div class="row g-4">
      {%for product in featured|slice:":8" %}
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
        <a href="{% url 'single-prod-page' prod_name=product.product_name %}">
        <div class="card card-design">
          <div class="card-img">
            <img src="media/{{product.product_img_1}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body product-body">
            <h3 class="product-title">{{product.product_name}}</h3>
            <div class="product-info">
              <p class="product-price">₦{{product.product_price}}</p>
              <div class="option-button">
                <img src="static/images/Black-heart.svg" class="nav-svg" alt="...">
                <img src="static/images/Wheel-cart.svg" class="nav-svg" alt="...">
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      {%endfor%}
      
      </div>

    <button type="button" class="product-button"> <a href="#">VIEW MORE</a></button>
  </section>


  <!-- Promotion -->

  <section id="promotion">

    <div class="row g-4">
      <div class="col-lg-7 blog-card left-side">
        <div class="d-block w-100 promotion-img-container">
          <img src="media/{{sec3_ads.0.advert_img}}" class="promotion-image" alt="">
        </div>
      </div>
      <div class="col-lg-5 blog-card right-side">
        <div class="d-block w-100 promotion-info-container">
          <div class="promotion-info">
            <h2 class="promotion-title">THE BEST DEAL OF THE DAY</h2>
            <p class="promotion-text">At Naesta Store we give you deals you can never say no to, that is one of the ways we say thank you to our customers. We sell all kinds of wears, ranging from bags, shoes, watches, jewelries, bangles and other accessories.</p>
            <button type="button" class="promotion-cta"> <a href="#">MORE PROMOS</a></button>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Products-2 -->

  <section id="product2">
    <div class="product2-top">
      <h2 class="product2-heading">THE BEST BRANDS FOR MEN</h2>
    </div>

    <div class="row g-4">
      {%for prod in mens_prod|slice:":4"%}
      <div class="col-md-12 col-lg-6 product2-card">
        <a href="{% url 'single-prod-page' prod_name=prod.product_name %}">
        <div class="card card-design product2-container">
          <div class="card-img">
            <img src="media/{{prod.product_img_1}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body product2-body">
            <div class="option2-button">
              <img src="static/images/Black-heart.svg" class="nav-svg" alt="...">
              <img src="static/images/Wheel-cart.svg" class="nav-svg" alt="...">
            </div>
            <div class="product2-info">
              <h3 class="product-title">{{prod.product_name}}</h3>
              <p class="product-description">{{prod.product_description}}</p>
              <p class="product-price">₦{{prod.product_price}}</p>
            </div>
          </div>
        </div>
      </a>
      </div>
      {%endfor%}
    </div>
    <button type="button" class="product-button"> <a href="#">VIEW MORE</a></button>

  </section>


  <!-- Adverts -->

  <section id="adverts">

    <div class="row g-8 advert-group">
      {%for ads in sec4_ads%}
      <div class="col-md-6 col-lg-4">
        <div class="card main-advert">
          <div class="card-body advert-body advert1">
            <h6 class="advert-title">{{ads.advert_title}}</h6>
            <p class="advert-text">{{ads.advert_text}}</p>
            <button type="button" class="advert-button"><a href="#">SHOP NOW</a></button>
          </div>
          <div class="advert-img-box">
            <img class="advert-img" src="media/{{ads.advert_img}}" alt="Lens">
          </div>
        </div>
      </div>
      {%endfor%}
    </div>

  </section>

  <!-- Instagram -->

  <section id="instagram">

    <div class="instagram-top">
      <h3 class="naestpoint">#NAESTPOINT</h3>
      <p class="instagram-message">tag us @naestpoint for a chance to be featured on our instagram page</p>
    </div>

    <div class="row g-4">
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
        <div class="card instagram-design">
          <div class="card-img">
            <div class="insta-name">
              <h5 class="insta-text">@toprose</h5>
            </div>
            <img src="static/images/1st-insta.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
        <div class="card instagram-design">
          <div class="card-img">
            <div class="insta-name">
              <h5 class="insta-text">@Seamless</h5>
            </div>
            <img src="static/images/2nd-insta.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
        <div class="card instagram-design">
          <div class="card-img">
            <div class="insta-name">
              <h5 class="insta-text">@zipazstore</h5>
            </div>
            <img src="static/images/3rd-insta.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
        <div class="card instagram-design">
          <div class="card-img">
            <div class="insta-name">
              <h5 class="insta-text">@theboscostich</h5>
            </div>
            <img src="static/images/4th-insta.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>  

  </section>
  {%endblock content%}
</body>

</html>
