<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% load static %}


<body>
{%block content%}
  
  <!-- Products-1 -->

  <section id="whats-hot">
    <div class="whatshot-product-top">
      <h2 class="whats-hot-title">NEW ARRIVAL</h2>
      <p class="product-message">WE SELECTED THE BEST BUYS, FREQUENTLY VIEWED WEAR, NEW ARRIVALS FOR YOUR INTEREST.</p>
    </div>

    <div class="row g-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 product-card">
        <div class="card card-design">
          <div class="card-img">
            <img src="../../media/{{advert.advert_img}}" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      {%for prod in page_obj%}
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 product-card">
        <a href="{%url 'single-prod-page' prod.product_name %}">
        <div class="card card-design">
          <div class="card-img">
            <img src="../../media/{{prod.product_img_1}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body product-body">
            <h3 class="product-title">{{prod.product_name}}</h3>
            <div class="sizes">
                <button type="button" class="size sm active"> <a href="#">SM</a></button>
                <button type="button" class="size md"> <a href="#">MD</a></button>
                <button type="button" class="size lg"> <a href="#">LG</a></button>
                <button type="button" class="size xl"> <a href="#">XL</a></button>
            </div>
            <div class="product-info">
              <p class="product-price">₦{{prod.product_price}}</p>
              <div class="option-button">
                <img src="{% static 'images/Black-heart.svg' %}" class="nav-svg" alt="...">
                <img src="{% static 'images/Wheel-cart.svg' %}" class="nav-svg" alt="...">
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      {%endfor%}
    </div>
    <div class="pages">
      <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="directions"><i class="bi bi-chevron-left"></i></button></a>
          <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="page three"> {{page_obj.previous_page_number }}</button></a> 
          {% endif %}

          <a href="?page={{ page_obj.number }}"><button type="button" class="page one"> {{page_obj.number}}.</button></a>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="page two"> {{page_obj.next_page_number }}</button></a>
          <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="directions"><i class="bi bi-chevron-right"></i></button></a>
          {% endif %}
      </span>
  </div>
  </section>
  {%endblock content%}

</body>
</html>